body {
    padding-top: 80px;
}

fieldset {
    border: solid 1px #ced4da;
    border-radius: 0.25rem;
    padding: 20px;
    margin-top: 50px;
}

.btn {
    margin-bottom: 20px;
}

.clear {
    margin-bottom: 0 !important;
}

.head-btn {
    margin-bottom: 20px;
}